<%- include('partials/header') %>
<main>
    <h1>Welcome to the Category Product App</h1>
    <div class="dashboard">
        <a href="/categories" class="button">Manage Categories</a>
        <a href="/products" class="button">Manage Products</a>
    </div>
</main>
<%- include('partials/footer') %>
