<%- include('../partials/header') %>
<main>
    <h1>Add New Product</h1>
    <form action="/products" method="POST" class="form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <label for="category_id">Category</label>
        <select name="category_id" id="category_id" required>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <button type="submit" class="button">Add Product</button>
    </form>
</main>
<%- include('../partials/footer') %>
